.footer {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    padding: 1.5rem;
    background: linear-gradient(270deg, rgb(25, 83, 140), rgb(53, 103, 164));

    .footer__socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem;

        .footer__socials-item {
            .footer__link-logo {
                .footer__logo {
                    width: 10rem;
                    margin: 0;
                }
            }

            .footer__main-socials-list {
                display: flex;
                justify-content: space-between;
                width: 30vw;

                .footer__main-socials-list-item {

                    .footer__main-socials-list-item-link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0.5rem;
                        border: none;
                        border-radius: 50%;
                        background-color: rgb(255, 255, 255);
                        transition: 150ms ease-out;

                        .footer__socials-icon {
                            width: 2.5rem;
                        }
                    }

                    .footer__main-socials-list-item-link:hover {
                        background-color: rgb(255, 188, 66);
                    }
                }
            }
        }
    }

    .footer__legal {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        padding: 0 1.5rem;
        color: rgb(255, 255, 255);
        
        .footer__legal-item {
            font-size: 1.2rem;
            .footer__legal-link {
                line-height: 1.5rem;
                text-decoration: underline 1px dashed;
            }

            .footer__legal-link:hover {
                color: rgb(255, 188, 66);
            }

            .footer__legal-company {}
        }
    }
}